In [2]:
from database import *

def ticks_to_kbars(ticks, interval='1Min'):

    kbars = pd.DataFrame()
    
    kbars['open'] = ticks['close'].resample(interval).first()
    kbars['close'] = ticks['close'].resample(interval).last()
    kbars['high'] = ticks['close'].resample(interval).max()
    kbars['low'] = ticks['close'].resample(interval).min()
    kbars['volume'] = ticks['volume'].resample(interval).sum()
    
    kbars.dropna(inplace=True)
    
    return kbars

/Users/raychung/opt/anaconda3/lib/python3.8/site-packages/shioaji/__init__.py:20: Warning: Mac OS currently don't provide ca module all function about placing order is not working.
  warnings.warn("Mac OS currently don't provide ca module all function about placing order is not working.", Warning)

In [3]:
import talib

def get_technical_indicator(kbars):
    
    kbars['rsi'] = talib.RSI(kbars.close, timeperiod=14)
    
    return kbars

In [4]:
api = sj.Shioaji()
api.login(
    person_id="YOUR_ID",
    passwd="YOUR_PASSWORD",
    contracts_cb=lambda security_type: print(f"{repr(security_type)} fetch done."))

# api.logout()

connection = sqlite3.connect('data.db')

Response Code: 0 | Event Code: 0 | Info: host '203.66.91.161:80', hostname '203.66.91.161:80' IP 203.66.91.161:80 (host 1 of 1) (host connection attempt 1 of 1) (total connection attempt 1 of 1) | Event: Session up
<SecurityType.Index: 'IND'> fetch done.
<SecurityType.Future: 'FUT'> fetch done.
<SecurityType.Stock: 'STK'> fetch done.
<SecurityType.Option: 'OPT'> fetch done.

In [5]:
code = '6443'

date = pd.to_datetime('2020/9/8')

ticks = get_ticks(code, date, connection, api)[0]
kbars = ticks_to_kbars(ticks)
kbars = get_technical_indicator(kbars)

kbars.head(20)

                      open  close   high    low  volume        rsi
ts
2020-09-08 09:00:00  23.70  24.00  24.00  23.70    2216        NaN
2020-09-08 09:01:00  23.95  23.95  24.15  23.90    1408        NaN
2020-09-08 09:02:00  23.95  23.25  24.00  23.25    1113        NaN
2020-09-08 09:03:00  23.30  23.30  23.40  23.00     793        NaN
2020-09-08 09:04:00  23.30  23.45  23.55  23.20     496        NaN
2020-09-08 09:05:00  23.45  23.90  23.90  23.45     558        NaN
2020-09-08 09:06:00  23.80  23.70  23.90  23.70     393        NaN
2020-09-08 09:07:00  23.70  23.60  23.75  23.50     288        NaN
2020-09-08 09:08:00  23.55  23.60  23.60  23.50     118        NaN
2020-09-08 09:09:00  23.55  23.60  23.65  23.50     326        NaN
2020-09-08 09:10:00  23.60  23.55  23.65  23.50     304        NaN
2020-09-08 09:11:00  23.55  23.55  23.55  23.50     180        NaN
2020-09-08 09:12:00  23.50  23.45  23.55  23.40     154        NaN
2020-09-08 09:13:00  23.40  23.30  23.45  23.20     443        NaN
2020-09-08 09:14:00  23.25  23.25  23.30  23.20     207  31.707317
2020-09-08 09:15:00  23.25  23.25  23.30  23.20     206  31.707317
2020-09-08 09:16:00  23.15  23.20  23.25  23.15     170  30.835088
2020-09-08 09:17:00  23.15  23.20  23.30  23.15     111  30.835088
2020-09-08 09:18:00  23.20  23.20  23.25  23.15     109  30.835088
2020-09-08 09:19:00  23.30  23.40  23.45  23.25     221  39.192002

In [10]:
code = '6443'

tw_calendar = get_calendar('XTAI')

date = pd.to_datetime('2020/9/8')
prev_trading_date = tw_calendar.previous_close(date).date()
    
ticks = get_ticks(code, prev_trading_date, connection, api)[0].append(get_ticks(code, date, connection, api)[0])
kbars = ticks_to_kbars(ticks)
kbars = get_technical_indicator(kbars)
kbars = kbars[date:]

kbars

                      open  close   high    low  volume        rsi
ts
2020-09-08 09:00:00  23.70  24.00  24.00  23.70    2216  82.835184
2020-09-08 09:01:00  23.95  23.95  24.15  23.90    1408  80.401918
2020-09-08 09:02:00  23.95  23.25  24.00  23.25    1113  55.723166
2020-09-08 09:03:00  23.30  23.30  23.40  23.00     793  56.744470
2020-09-08 09:04:00  23.30  23.45  23.55  23.20     496  59.744397
...                    ...    ...    ...    ...     ...        ...
2020-09-08 13:21:00  22.60  22.60  22.65  22.60      30  48.256158
2020-09-08 13:22:00  22.60  22.60  22.65  22.60      88  48.256158
2020-09-08 13:23:00  22.60  22.60  22.65  22.55     103  48.256158
2020-09-08 13:24:00  22.55  22.65  22.65  22.55     114  55.361657
2020-09-08 13:30:00  22.60  22.60  22.60  22.60     374  48.229322

[262 rows x 6 columns]

In [11]:
def day_trading_backtest(code, date, connection, api):
    
    tw_calendar = get_calendar('XTAI')
    prev_trading_date = tw_calendar.previous_close(date).date()
    
    ticks = get_ticks(code, prev_trading_date, connection, api)[0].append(get_ticks(code, date, connection, api)[0])
    kbars = ticks_to_kbars(ticks)
    kbars = get_technical_indicator(kbars)
    kbars = kbars[date:]
            
    entry_price = 0
    entry_time = None
    
    exit_price = 0
    exit_time = None
    
    position = 0
            
    for ts in range(len(kbars)):
        
        current_time = kbars.iloc[ts].name + pd.Timedelta(minutes=1)
        current_price = kbars['close'][ts]
        
        if (
            kbars.iloc[ts]['rsi'] < 20 and
            position == 0
        ):
            
            position = 1          
            entry_price = current_price
            entry_time = current_time.time()

            print('[{}] buy {} at {}'.format(current_time, code, current_price))
        
        elif (
            kbars.iloc[ts]['rsi'] > 80 and
            position != 0
        ):
            exit_price = current_price
            exit_time = current_time.time()
            
            print('[{}] sell {} at {}'.format(current_time, code, current_price))
            
            break
            
        elif (
            current_time == date.replace(hour=13, minute=0, second=0) and
            position != 0
        ):
            
            exit_price = current_price
            exit_time = current_time.time()
            
            print('[{}] sell {} at {}'.format(current_time, code, current_price))
            
            break
            
    if entry_time and exit_time:
        transaction = pd.DataFrame([[date, 
                                     code, 
                                     entry_time,
                                     entry_price, 
                                     position * 1000,
                                     entry_price * position * 1000,
                                     exit_time,
                                     exit_price,
                                     position * 1000,
                                     exit_price * position * 1000]
                                   ],
                                    columns=[
                                        '成交日期', 
                                        '股票代號',
                                        '買進時間',
                                        '買進價格',
                                        '買進股數',
                                        '買進金額',
                                        '賣出時間',
                                        '賣出價格',
                                        '賣出股數',
                                        '賣出金額'])
        return transaction
    else:
        return pd.DataFrame()

In [12]:
day_trading_backtest('6443', pd.to_datetime('2020/9/8'), connection, api)

[2020-09-08 09:34:00] buy 6443 at 21.65
[2020-09-08 10:54:00] sell 6443 at 23.1

,成交日期,股票代號,買進時間,買進價格,買進股數,買進金額,賣出時間,賣出價格,賣出股數,賣出金額
0,2020-09-08,6443,09:34:00,21.65,1000,21650.0,10:54:00,23.1,1000,23100.0